# ignore jupyter notebook backup folders
.ipynb_checkpoints

# ignore linux background log file
nohup.out

# mac files
.DS_Store

# ms power point files
*.pptx

# python lib files
*.whl

# unnecessary files in wave app dir
wave_app/env_wave0170
wave_app/__pycache__

# models and data under models
models/
